body {
  margin: 0; }

.pad {
  padding: 0 25px;
}

/*modal*/


/* modal styles */
.modal-content {
  display: none;
  position: fixed;
  z-index: 200;
  width: 50%;
  max-width: 600px;
  margin: 0;
  padding: 20px;
  background: #fff;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

div.modalcontent {
  top: 0;
}

.js-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100Vh;
  background: rgba(0, 0, 0, .5);
}

.myImg {
  width: 100%;
}
/*body {
    margin: 0;
    padding: 0;
    background: #EEE;
    font: 10px/13px 'Lucida Sans',sans-serif;
}*/

 /*grid overlay/ modal */

.one:hover .overlay {
  opacity: .85;
}

div#caption {
  text-align: center;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 20px;
}

.modal01 {
  background: url("../images/Angular-Sort.jpg") no-repeat;
}

.modal02 {
  background: url("../images/Angular-Sort.jpg") no-repeat;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #506276;
}

.close {
  float: right;
  position: fixed;
  background: blue;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -20px;
  text-align: center;
  top: -88px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
/*  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;*/
  .box-shadow;
  .transition;
  .transition-delay(.2s);
}

.close:hover {
  background: #506276; 
  .transition; 
}



/*Photo Grid*/

.wrap {
    overflow: hidden;
    margin: 10px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    /*overflow: hidden;*/
}
 .boxInner img { width: 100% }


@media only screen and (max-width:480px) { 
    /* Smartphone view: 1 tile */
    .box {
        width: 100%;
        padding-bottom: 100%;
    }
}
@media only screen and (max-width:650px) and (min-width:481px) { 
    /* Tablet view: 2 tiles */
    .box {
        width: 50%;
        padding-bottom: 50%;
    }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
    /* Small desktop / ipad view: 3 tiles */
    .box {
        width: 33.3%;
        padding-bottom: 33.3%;
    }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
    /* Medium desktop: 4 tiles */
    .box {
        width: 25%;
        padding-bottom: 25%;
    }
}

[class*="__inner"] {
  max-width: 1230px;
  margin: 0 auto;
  clear: both;
  padding: 0 20px; }

.button {
  margin: 0 auto;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  padding: 12px 20px;
  outline: 0;
  border: 2px solid #506276;
  display: inline-block;
  color: #506276;
  text-decoration: none;
  transition: all 400ms ease; }
  .button:hover {
    background-color: #506276;
    color: #FFFFFF; }

ul {
  padding: 0; }

li {
  font-family: "Open Sans", sans-serif; }

a:not(.button) {
  position: relative;
  text-decoration: none; }
  a:not(.button):before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    content: '';
    margin-top: 8px;
    opacity: 0;
    transition: all 400ms ease; }
  a:not(.button):hover:before {
    opacity: 1;
    margin-top: 0; }

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%; }

#nav_bar {
  border: 0;
  background-color: #506276;
  padding: 20px 0;
  border-radius: 0px;
  margin-bottom: 0;
  height: 30px; 
  /*position: fixed;*/
}

.nav_links {
  margin: 0;
  text-align: center; 
}

.nav_links li {
  display: inline-block;
  margin-top: 4px; 
}

.nav_links li a {
  padding: 0 10px;
  color: #FFFFFF;
  text-decoration: none; 
}

.hero-text {
  min-height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  overflow: hidden; }
  .hero-text__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 2s ease;
    z-index: -1; }
    .hero-text__background.active {
      transform: scale(1.1); }
  .hero-text__inner {
    padding: 60px 20px;
    flex: 1;
    text-align: center; }
  .hero-text h1 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    padding: 20px 0;
    display: block; }
  .hero-text h2 {
    display: block;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif; }

.js-from-left {
  opacity: 0;
  transform: translateX(-50px);
  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-delay: 0ms; }
  .js-from-left:nth-child(1) {
    transition-delay: 10ms; }
  .js-from-left:nth-child(2) {
    transition-delay: 20ms; }
  .js-from-left:nth-child(3) {
    transition-delay: 30ms; }
  .js-from-left:nth-child(4) {
    transition-delay: 40ms; }
  .js-from-left:nth-child(5) {
    transition-delay: 50ms; }
  .js-from-left:nth-child(6) {
    transition-delay: 60ms; }
  .js-from-left:nth-child(7) {
    transition-delay: 70ms; }
  .js-from-left:nth-child(8) {
    transition-delay: 80ms; }
  .js-from-left:nth-child(9) {
    transition-delay: 90ms; }
  .js-from-left.active {
    transform: translate(0px, 0px);
    opacity: 1; 
  }

.hero-image {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden; }
  .hero-image__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 2s ease;
    z-index: -1; }
    .hero-image__background.active {
      transform: scale(1.1); 
    }

@keyframes growWidth {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes growHeight {
  0% {
    height: 0; }
  100% {
    height: 50%; } }

@keyframes fortyWidth {
  0% {
    width: 0; }
  100% {
    width: 60px; } }

h3 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #506276;
  text-align: center;
  position: relative;
  margin: 0 0 30px; }

p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif; }

.odd {
  flex-direction: row-reverse; }

.two-column-content__wrapper {
  display: flex;
  align-items: stretch; }
  @media screen and (max-width: 900px) {
    .two-column-content__wrapper {
      flex-wrap: wrap;
      padding: 20px 0; } }

.two-column-content__heading {
  padding-top: 60px; }

.two-column-content__wrapper-lines-left .left-column-content__text,
.two-column-content__wrapper-lines-left .right-column-content__text {
  max-width: 575px; }
  @media (max-width: 900px) {
    .two-column-content__wrapper-lines-left .left-column-content__text,
    .two-column-content__wrapper-lines-left .right-column-content__text {
      width: 100%;
      max-width: unset; } }

.two-column-content__wrapper-lines-left.active .left-column-content__with-lines:before {
  animation: growWidth 1s 0s 1 forwards; }

.two-column-content__wrapper-lines-left.active .left-column-content__with-lines:after {
  animation: growHeight 800ms 1s 1 forwards; }

.two-column-content__wrapper-lines-left.active .right-column-content__with-lines:after {
  animation: fortyWidth 300ms 1.8s 1 forwards; }

.two-column-content__wrapper-lines-left .left-column-content__with-lines:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #a8acaf; }
  @media (max-width: 900px) {
    .two-column-content__wrapper-lines-left .left-column-content__with-lines:before {
      background-color: transparent; } }

.two-column-content__wrapper-lines-left .left-column-content__with-lines:after {
  content: '';
  top: 0;
  right: 0;
  position: absolute;
  height: 0;
  width: 1px;
  background-color: #a8acaf; }
  @media (max-width: 900px) {
    .two-column-content__wrapper-lines-left .left-column-content__with-lines:after {
      background-color: transparent; } }

.two-column-content__wrapper-lines-left .right-column-content__with-lines:after {
  content: '';
  top: 50%;
  margin-top: -1px;
  left: 0;
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #a8acaf; }
  @media (max-width: 900px) {
    .two-column-content__wrapper-lines-left .right-column-content__with-lines:after {
      background-color: transparent; } }

.two-column-content__wrapper-lines-right .left-column-content__text,
.two-column-content__wrapper-lines-right .right-column-content__text {
  max-width: 575px; }
  @media (max-width: 900px) {
    .two-column-content__wrapper-lines-right .left-column-content__text,
    .two-column-content__wrapper-lines-right .right-column-content__text {
      width: 100%;
      max-width: unset; } }

.two-column-content__wrapper-lines-right.active .right-column-content__with-lines:before {
  animation: growWidth 1s 0s 1 forwards; }

.two-column-content__wrapper-lines-right.active .right-column-content__with-lines:after {
  animation: growHeight 800ms 1s 1 forwards; }

.two-column-content__wrapper-lines-right.active .left-column-content__with-lines:after {
  animation: fortyWidth 300ms 1.8s 1 forwards; }

.two-column-content__wrapper-lines-right .left-column-content__with-lines:after {
  content: '';
  top: 50%;
  margin-top: -1px;
  right: 0;
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #a8acaf; }
  @media (max-width: 900px) {
    .two-column-content__wrapper-lines-right .left-column-content__with-lines:after {
      background-color: transparent; } }

.two-column-content__wrapper-lines-right .right-column-content__with-lines:before {
  content: '';
  top: 0;
  right: 0;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #a8acaf; }
  @media (max-width: 900px) {
    .two-column-content__wrapper-lines-right .right-column-content__with-lines:before {
      background-color: transparent; } }

.two-column-content__wrapper-lines-right .right-column-content__with-lines:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 0;
  width: 1px;
  background-color: #a8acaf; }
  @media (max-width: 900px) {
    .two-column-content__wrapper-lines-right .right-column-content__with-lines:after {
      background-color: transparent; } }

.left-column-content {
  width: 50%;
  padding: 60px 60px 60px 0;
  position: relative; }
  @media screen and (max-width: 900px) {
    .left-column-content {
      width: 100%;
      padding: 20px; } }
  .left-column-content img {
    width: 100%;
    height: 100%; }
  .left-column-content__with-background {
    overflow: hidden;
    padding: 0; }
    .left-column-content__with-background .left-column-content__text {
      padding: 60px 60px 60px 0;
      max-width: 615px;
      margin: 0 0 0 auto;
      color: #FFFFFF; }
      @media screen and (max-width: 900px) {
        .left-column-content__with-background .left-column-content__text {
          width: 100%;
          padding: 20px;
          max-width: unset; } }
      .left-column-content__with-background .left-column-content__text h3 {
        color: #FFFFFF; }
  .left-column-content__text {
    max-width: 575px;
    margin: 0 0 0 auto; }
    @media screen and (max-width: 900px) {
      .left-column-content__text {
        width: 100%;
        margin: 0 auto;
        max-width: unset; } }
    .left-column-content__text p {
      padding-bottom: 20px;
      line-height: 1.5; }
  .left-column-content__buttons {
    text-align: center;
    display: block; }
  .left-column-content__image {
    max-width: 568px;
    height: 410px;
    margin: 0 0 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 900px) {
      .left-column-content__image {
        width: 100%;
        max-width: unset; } }
  .left-column-content__image-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 2s ease;
    z-index: -1; }
    .left-column-content__image-background.active {
      transform: scale(1.1); }
  .left-column-content__background {
    width: 100%;
    height: 100%;
    transition: all 2s ease; }
    .left-column-content__background.active {
      transform: scale(1.1); }

.right-column-content {
  width: 50%;
  padding: 60px 0 60px 60px;
  position: relative; }
  @media screen and (max-width: 900px) {
    .right-column-content {
      padding: 20px;
      width: 100%; } }
  .right-column-content img {
    width: 100%;
    height: 100%; }
  .right-column-content__text {
    max-width: 575px;
    margin: 0 auto 0 0; }
    .right-column-content__text p {
      padding-bottom: 20px;
      line-height: 1.5; }
  .right-column-content__buttons {
    text-align: center;
    display: block; }
  .right-column-content__with-background {
    overflow: hidden;
    padding: 0; }
    .right-column-content__with-background .right-column-content__text {
      padding: 60px 0 60px 60px;
      max-width: 615px;
      margin: 0 auto 0 0;
      color: #FFFFFF; }
      @media screen and (max-width: 900px) {
        .right-column-content__with-background .right-column-content__text {
          width: 100%;
          padding: 20px;
          max-width: unset; } }
      .right-column-content__with-background .right-column-content__text h3 {
        color: #FFFFFF; }
  .right-column-content__image {
    max-width: 575px;
    height: 410px;
    margin: 0 auto 0 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 900px) {
      .right-column-content__image {
        width: 100%;
        max-width: unset; } }
  .right-column-content__image-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 2s ease;
    z-index: -1; }
    .right-column-content__image-background.active {
      transform: scale(1.1); }
  .right-column-content__background {
    width: 100%;
    height: 100%;
    transition: all 2s ease; }
    .right-column-content__background.active {
      transform: scale(1.1); }

.one-column-content {
  text-align: center;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .one-column-content#contact {
    min-height: 60vh; }
  .one-column-content__has-background {
    padding: 60px 0; }
  .one-column-content__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 2s ease;
    z-index: -1; }
    .one-column-content__background.active {
      transform: scale(1.1); }
  .one-column-content__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 2s ease;
    z-index: -1; }
    .one-column-content__background.active {
      transform: scale(1.1); }
  .one-column-content .white_text {
    color: #FFFFFF; }
    .one-column-content .white_text p, .one-column-content .white_text a {
      font-size: 20px; }
    .one-column-content .white_text a {
      color: #FFFFFF; }
    .one-column-content .white_text h3 {
      color: #FFFFFF;
      font-size: 30px; }


